VITE_UPLOAD_CV_API_URL=https://j3zljogo3j.execute-api.ap-southeast-1.amazonaws.com/default/upload_cv
VITE_ANALYZE_CV_API_URL=https://j3zljogo3j.execute-api.ap-southeast-1.amazonaws.com/default/analyze_cv
VITE_PROFILE_API_URL=https://j3zljogo3j.execute-api.ap-southeast-1.amazonaws.com/default/profile
VITE_HISTORY_API_URL=https://j3zljogo3j.execute-api.ap-southeast-1.amazonaws.com/default/history
VITE_INTERVIEW_API_BASE_URL=https://j3zljogo3j.execute-api.ap-southeast-1.amazonaws.com/default
VITE_VOICE_API_BASE_URL=https://j3zljogo3j.execute-api.ap-southeast-1.amazonaws.com/default
VITE_ADMIN_API_BASE_URL=https://j3zljogo3j.execute-api.ap-southeast-1.amazonaws.com/default

# Optional Cognito Hosted UI auth. Leave empty to keep demo localStorage login.
VITE_COGNITO_DOMAIN=https://ap-southeast-1vzlt2a3as.auth.ap-southeast-1.amazoncognito.com
VITE_COGNITO_CLIENT_ID=75grv32mht5gvgjhognfrp7jsk
VITE_COGNITO_REDIRECT_URI=http://localhost:5173
VITE_COGNITO_LOGOUT_URI=http://localhost:5173
# Use profile for name/picture and phone for phone_number.
VITE_COGNITO_SCOPES=openid email profile phone
